            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">{{product.name}}</a>
                </h4>
                <h5>${{product.price}}</h5>
                <p class="card-text">{{product.desc}}</p>
              </div>
              <div class="card-footer">
                <form>
                  <input [(ngModel)]="product.name" name="name" /><br><br>
                  <input [(ngModel)]="product.desc" name="desc" />
                </form>
                <br>
                <button (click)="onchange()" class="btn btn-primary">Change</button>
              </div>
            </div>